<div class="container frm-div content">
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-title>
      <h2 style="color: #4b5dc0c4;">Create Account:</h2>
    </div>
    <div mat-dialog-content class="content">

      <div >
         <mat-icon class="mtIcon"  matBadgeColor="warn" color="primary" style="vertical-align: middle;">person</mat-icon>

         <mat-form-field appearance="outline" class="ms-2">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div>
        <mat-icon class="mtIcon"  matBadgeColor="warn" color="primary" style="vertical-align: middle;">contact_mail</mat-icon>

        <mat-form-field appearance="outline" class="ms-2">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field>
      </div>

      <div>
        <mat-icon class="mtIcon"  matBadgeColor="warn" color="primary" style="vertical-align: middle;">password</mat-icon>

        <mat-form-field appearance="outline" class="ms-2">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>

      <div>
        <mat-icon class="mtIcon"  matBadgeColor="warn" color="primary" style="vertical-align: middle;">password</mat-icon>

        <mat-form-field appearance="outline" class="ms-2">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="re_password" />
        </mat-form-field>
      </div>

    </div>
    <div mat-dialog-actions class="actions">

      <button class="form-control" mat-raised-button color="primary" type="submit">
        <mat-icon class="mtIcon"  matBadgeColor="warn" color="white" style="vertical-align: middle;">save</mat-icon>

        Create An Account</button>
    </div>
  </form>
</div>



<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "ball-climbing-dot" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->