<div class="container frm-div content">
    <form [formGroup]="userForm" (ngSubmit)="saveNewPassword()">

      <div mat-dialog-content class="content">
        <div>

          <mat-icon
            class="mtIcon"
            matBadgeColor="warn"
            color="primary"
            style="vertical-align: middle"
            >password</mat-icon>

          <mat-form-field appearance="outline" class="ms-2" >
            <mat-label class="pt-3">new password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </div>


      </div>


      <div mat-dialog-actions class="actions">
        <button
          class="form-control"
          mat-raised-button
          color="warn"
          type="submit"
        >
          <mat-icon
            class="mtIcon"
            matBadgeColor="warn"
            color="white"
            style="vertical-align: middle"
            >send</mat-icon
          >

          Change Password
        </button>
      </div>



    </form>
  </div>

