<div class="container frm-div mt-5 content">
    <form [formGroup]="userForm" (ngSubmit)="resetPassword()">
      <div mat-dialog-title>
        <h2 style="color: #4b5dc0c4; margin-top: -97px;">Reset Password:</h2>
      </div>
      <div mat-dialog-content class="content">
        <div>

          <!-- <mat-icon
            class="mtIcon"
            matBadgeColor="warn"
            color="primary"
            style="vertical-align: middle"
            >email</mat-icon> -->

          <mat-form-field appearance="outline" class="ms-2" >
            <mat-label class="pt-3">Email</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field>
        </div>


      </div>


      <div mat-dialog-actions class="actions">
        <button
          class="form-control"
          mat-raised-button
          color="warn"
          type="submit"
        >
          <mat-icon
            class="mtIcon"
            matBadgeColor="warn"
            color="white"
            style="vertical-align: middle"
            >send</mat-icon
          >

          Send
        </button>
      </div>



    </form>
  </div>

  <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->

  <!-- <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-climbing-dot"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  > -->
