<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3f51b5" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Activate Account... </p></ngx-spinner> -->

<div class="d-flex justify-content-center align-items-center mt-5">
    <ngx-typed-js style="color: #3f51b5;" class="mt-3 fs-6 mt-5 fw-bold" [strings]="['Please Wait For Activate Your Account']" [shuffle]="true" [typeSpeed]="80" [showCursor]="false">
        <span class="typing job"></span>
      </ngx-typed-js>
</div>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-climbing-dot" [fullScreen] = "true"><p style="color: white" > Activate Account... </p></ngx-spinner> -->